# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

asgiref=3.5.2=py311haa95532_0
django=4.1=py311haa95532_0
mysqlclient=2.2.0=pypi_0
pillow=10.0.0=pypi_0
setuptools=67.8.0=py311haa95532_0
sqlite=3.41.2=h2bbff1b_0
