{% extends 'home/base.html' %}

{% block title %}
Forbidden
{% endblock %}

{% block css %}
<style>
    .error-title {
        font-size: 2.5rem;
        color: #dc3545;
        text-align: center;
    }

    .error-message {
        font-size: 1.5rem;
        color: #6c757d;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header error-title">Forbidden</div>

                <div class="card-body error-message">
                    <p>You don't have permission to access this page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
