
    /* Custom Navbar Color */
    .navbar-custom {
      background-color: #470000!important; /* Change this to your desired background color */
    }

    /* Custom Navbar Link Color */
    .navbar-custom .nav-link {
      color: #ffffff!important; /* Change this to your desired link color */
    }

    /* Custom Navbar Link Hover Color */
    .navbar-custom .nav-link:hover {
      color: #ffc107!important; /* Change this to your desired link hover color */
    }

    /* Custom Navbar Brand Color */
    .navbar-custom .navbar-brand {
      color: #ffffff; /* Change this to your desired brand color */
    }

    /* Custom Navbar Brand Hover Color */
    .navbar-custom .navbar-brand:hover {
      color: #f8f9fa; /* Change this to your desired brand hover color */
    }
/* Example custom CSS file (styles.css) */
.navbar-nav .nav-item.active .nav-link {
  color: #ffd93f;
}
.custom-margg{
  margin:0 0.5rem;
}
#logguser{
  font-weight: bolder;
  color: #ffc107;
  font-size: 1.4rem;
  margin: 0 0.5rem;
}

#finlog{
  text-decoration: none;
  color: #470000;
  font-size: 1.5rem;
  
}