body {
  font-family: 'Poppins', sans-serif;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.navbar-custom {
  background-color: #343a40 !important;
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  font-size: 24px;
}

.nav-link {
  color: #fff !important;
  font-size: 18px;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.btn-outline-warning, .btn-outline-success {
  color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.btn-outline-warning:hover, .btn-outline-success:hover {
  background-color: #ffc107 !important;
  color: #343a40 !important;
}

#search {
  font-family: 'Poppins', sans-serif !important;
  border-color: #ffc107 !important;
  color: #ffc107 !important;
}

#logguser {
  font-family: 'Poppins', sans-serif !important;
  color: #ffc107 !important;
  font-size: 18px;
  margin: 0 0.5rem;
}

/* Custom Modal Style */
.modal-content {
  background-color: #343a40;
  color: #fff;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  color: #ffc107;
}

.modal-footer {
  border-top: none;
}

.btn-close {
  color: #fff;
}

.btn-close:hover {
  color: #ffc107;
}

.modal-footer a {
  color: #ffc107;
}

.modal-footer a:hover {
  text-decoration: none;
  color: #343a40;
  background-color: #ffc107;
}
